//jtatum.usw-23.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
registry=https://jtatum.usw-23.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.df713c22-d9ac-47a0-9f1f-e9315674f8e8/contents/release/npm/
omit-lockfile-registry-resolved=true
